
body {
  background:#FCC608;
  margin: 0;
  font-family: 'Aleo', serif;
  font-weight: 600;
}

h1 {
  font-size: 60px;
}

p {
  line-height: 30px;
}

#banner, #main, #bottom {
  background-color: #ffffff;
  width: 100%;
}

/*navigation bar*/
#navbar {
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  line-height: 0;
  padding: 5px 0;
  top: 0;
  position: fixed;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 100;

}
#navbar .logo{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}
#navbar .logo p{
  padding: 0 10px;
}
#navbar .list{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 40px;
}
#navbar .list p{
  padding: 0 20px;
}
#navbar .list p:hover{
  color: #FCC608;
}
/*yellow mainpage*/
#mainpage {
  width: 100%;
  
}
#mainpage .dog-background{
  width: 100%;
  position: relative;
}
#mainpage .dog-background img {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-top: 130px;
}
#mainpage .dog-moving{
  width: 100%;
  position: relative;
}
#mainpage .dog-moving img {
  display: flex;
  width: 40%;
  margin-left: 55.5%;
  margin-top: -41%;
}
#mainpage .word{
  width: 80%;
  position: relative;
}

#mainpage .word h1 {
  display: flex;
  width: 100%;
  margin-left: 10%;
  margin-top: -49%;
}
#mainpage .word p {
  display: flex;
  width: 100%;
  line-height: 1.2;
  margin-left: 10%;
  margin-top: -2%;
}

/*
i.avatar, i.icon {
  background-position: center;

  
  display: inline-block;
  height: 30px;
}

i.avatar {
  background-size: cover;
  border-radius: 15px;
  width: 30px;
}

i.icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
}

.right {

  //Step 4 code goes here 
  position: absolute;
  right: 0.5em;
}

.avatar      { background-image: url(https://i.pravatar.cc/30) }
.icon.arrow  { background-image: url(https://ppt.cc/fUqODx@.png) }
.icon.dot    { background-image: url(./res/dot.svg) }
.icon.submit { background-image: url(./res/external-link.svg) }

#banner {

  background: url(./res/main.jpg) center / cover;
  top: 40px;
  height: 250px;


}

#main {
  box-sizing: border-box;
  padding: 1px 4% 5vh;
  position: relative;
  top: 290px;


}

.info {

  margin: 0 0 5% 0;
}
*/

h1 {
  font-size: 60px;
}

p {
  line-height: 30px;
}

#bottom {
  bottom: 0;
  display: inline-flex;
  position: fixed;
}

